<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Workout Entries</title>

    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
    <script src="/jquery/jquery.js"></script>
</head>

<body>
    <%- include('navbar') %>

    <br>

    <div class="container">
        <div class="d-flex justify-content-around">
            <div>
                <div class="input-group">
                    <input class="form-control" type="date" id="date">
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2">
                            <img src="/images/calendar.png"></img>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    
        <br>
        
        <table class="table table-hover" id="workout-entries">
            <thead class="thead">
                <tr class="table-primary">
                    <th scope="col">Exercise</th>
                    <th scope="col" style="text-align:center;">Weight (lbs)</th>
                    <th scope="col" style="text-align:center;">Reps</th>
                </tr>
            </thead>
            <tbody id="table-body">

            </tbody>

        </table>
    </div>

    <script src="/js/bootstrap.js" type="text/javascript"></script>
    <script type="text/javascript">
        
        var entries = JSON.parse('<%- JSON.stringify(workout_entries) %>');

        var all_muscles = '/data/muscles_worked.json';

        var muscle_list = {};
        $.getJSON(all_muscles, function(data) {
            $.each(data, function(key, entry) {
                muscle_list[entry.id] = entry.name;
            })

            update_table(entries);
        });

        // Initial data
        let db_current_date = '<%- db_date %>';

        $('#date').val(db_current_date);

        $('#date').change(function(){
            newdatestring = $(this).val();
            
            var uri = "/workoutentrybydate?newdate=" + newdatestring; 
            
            $.get(uri, function(data, status){
                $("#table-body").empty();

                update_table(data);
            }); 
        });

        function update_table(entries){
            var rows = '';

            $.each(entries, function (i, entry) {
                //name
                var muscle = muscle_list[entry.muscle_worked];

                var html_id = "data-id='" + entry.id + "'";
                var html_exercise_id = "data-exerciseid='" + entry.exercise + "'";

                var nameText = entry.name + ' ' + '(' + muscle + ')';
                rows += "<tr class=\"clickable-row\" " + html_exercise_id + " " + html_id + "><td>" + nameText + '</td>';
                
                //weight
                var weight = entry.weight;
                rows += "<td style=\"text-align:center;\">" + entry.weight + '</td>';
                
                //reps
                var reps = (entry.reps_completed) == null ? '' : entry.reps_completed;
                rows += "<td style=\"text-align:center;\">" + reps + '</td>';
            });

            $('#table-body').append(rows);

            $(".clickable-row").click(function() {
                var id = $(this).data("id");
                var exercise_id = $(this).data("exerciseid");
                var uri = '/workoutentry?exerciseid=' + exercise_id + '&id=' + id;
                window.location.replace(uri);
            });
        }

        

    </script>
</body>

</html>
