<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Detailed Progress</title>

    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
    <script src="/jquery/jquery.js"></script>
</head>

<body>
    <%- include('navbar') %>

    <br>

    <div class="container">
        <form id="muscle-filter" method="get" action="detailprogress">
            <div class="form-group">
                <label for="exercise">Exercise</label>
                <select class="form-control" id="exercise" name="exercise"></select>
            </div>
        </form>

        <button class="btn btn-dark float-right" id="add-entry" type="button">Add Entry</button>

        <br>
        <br>

        <!-- Modal -->
        <div class="modal fade" id="notesModal" tabindex="-1" role="dialog" aria-labelledby="notesModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="notesModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body" id="notesModalBody">
                    
                </div>
                <div class="modal-footer">
                
                </div>
            </div>
            </div>
        </div>

        <table class="table table-hover" id="workout-entries">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col" style="text-align:center;">Weight (lbs)</th>
                    <th scope="col" style="text-align:center;">Reps</th>
                    <th scope="col" style="text-align:center;">Sets</th>
                    <th scope="col" style="text-align:center;"></th>
                </tr>
            </thead>
            <tbody id="table-body">

            </tbody>

        </table>
        
	</div>

    <script src="/js/bootstrap.js" type="text/javascript"></script>

    <script type="text/javascript">

        // Hides chart when first loaded
        $('#workout-entries').hide();
        $('#add-entry').hide();
        
        // Populate dropdown with list of provinces
        let dropdown = $('#exercise');

        dropdown.empty();

        dropdown.append('<option disabled>Choose exercise</option>');
        dropdown.prop('selectedIndex', 0);

        var available_exercises = JSON.parse('<%- JSON.stringify(exercises) %>');
        $.each(available_exercises, function(i, exercise) {
            var id = available_exercises[i].id;
            var name = available_exercises[i].name;
            dropdown.append($('<option></option>').attr('value', id).text(name));
        });

        var id = '<%- id %>';
        if(id){
            $('#workout-entries').show(); 
            $('#add-entry').show();

            $('#exercise').val(id).prop('disabled', 'disabled');;

            var uri = "/filterbyexercise?exercise=" + id; 
            
            update_table(uri);
            button_add_entry(id);
        }

        // HTTP Get when option selected
        $('select').change(function() {
            $('#workout-entries').show(); 
            $('#add-entry').show();
            
            var id = $('select#exercise').val();
            var uri = "/filterbyexercise?exercise=" + id; 
            
            update_table(uri);  
            button_add_entry(id);
        });        

        function update_table(uri){
            $("#table-body").empty();
            
            var days = ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday', 'Sunday'];
            
            $.get(uri, function(data, status){
                var workout_entries = data;

                var rows = '';
                
                for(i = 0; i < workout_entries.length; i++) {
                    var dateObj = new Date(workout_entries[i].entry_date);

                    var dd = String(dateObj.getDate() + 1).padStart(2, '0');
                    var mm = String(dateObj.getMonth() + 1).padStart(2, '0');
                    var yyyy = dateObj.getFullYear();

                    var dateText = mm + '/' + dd + '/' + yyyy + ' ' + '(' + days[dateObj.getDay()] + ')';

                    //notes
                    var notes = workout_entries[i].notes;
                    if(notes){
                        rows += '<tr class="note-click" data-index=' + i + '>';
                    }
                    else{
                        rows += '<tr>';
                    }
                    
                    //date
                    rows += '<td>' + dateText + '</td>';

                    var up = '<img src="/images/up.png"></img>';
                    var down = '<img src="/images/down.png"></img>';
                    var star = '<img src="/images/star.png"></img>';
                    
                    //weight
                    var weight = workout_entries[i].weight;
                    if(i < (workout_entries.length - 1)){
                        var previous_weight = weight - workout_entries[i + 1].weight;
                        var img = '';
                        if(previous_weight > 0){
                            img = up;
                        }
                        else if(previous_weight < 0){
                            img = down;
                        }

                        rows += "<td style=\"text-align:center;\">" + weight + ' ' + img + '</td>';
                    }
                    else{
                        rows += "<td style=\"text-align:center;\">" + weight + '</td>';
                    }

                    //reps
                    var reps = workout_entries[i].reps_completed;
                    if(i < (workout_entries.length - 1)){
                        var previous_reps = reps - workout_entries[i + 1].reps_completed;
                        var img = '';
                        if(previous_reps > 0){
                            img = up;
                        }
                        else if(previous_reps < 0){
                            img = down;
                        }

                        rows += "<td style=\"text-align:center;\">" + reps + ' ' + img + '</td>';
                    }
                    else{
                        rows += "<td style=\"text-align:center;\">" + reps + '</td>';
                    }
                    
                    //sets
                    var sets = workout_entries[i].sets_completed;
                    if(i < (workout_entries.length - 1)){
                        var previous_sets = sets - workout_entries[i + 1].sets_completed;
                        var img = '';
                        if(previous_sets > 0){
                            img = up;
                        }
                        else if(previous_sets < 0){
                            img = down;
                        }

                        rows += "<td style=\"text-align:center;\">" + sets + ' ' + img + '</td>';
                    }
                    else{
                        rows += "<td style=\"text-align:center;\">" + sets + '</td>';
                    }

                    if(notes){
                        rows += "<td style=\"text-align:center;\">" + star + '</td></tr>';
                    }
                    else{
                        rows += "<td style=\"text-align:center;\">" + "" + '</td></tr>';
                    }

                };

                $('#table-body').append(rows);

                $(".note-click").click(function() {
                    $('#notesModalLabel').html('');
                    $('#notesModalBody').html('');
                    
                    var workout_entry_index = $(event.target).closest('tr').data('index');
                    var notes = workout_entries[workout_entry_index].notes;
                    var date = $(event.target).closest('tr').children()[0].textContent;
                    
                    $('<p>' + date + ' - Notes</p>').appendTo('#notesModalLabel');
                    $('<p>' + notes + '</p>').appendTo('#notesModalBody');
                    $("#notesModal").modal("show");
                });
            });          
        }

        function button_add_entry(id){
            jQuery(document).ready(function($) {
                $("#add-entry").click(function() {
                    var uri = '/workoutentry?id=' + id;
                    window.location.replace(uri);
                });
            });
        }
    </script>
</body>

</html>
